#publica-post-tools {
	position: fixed;
	bottom: 20px;
	left: 0;
}

#publica-post-tools.steady {
	position: absolute;
}

#publica-post-tools.fixed {
	position: fixed;
}

#publica-post-tools iframe {
	max-width: none;
}

#publica-post-tools .toggle-tools {
	background: #aaa;
	display: block;
	border-radius: 0 5px 5px 0;
	padding: 10px;
	color: #fff;
	text-align:center;
	width: 50px;
	position: relative;
	z-index: 2;
	display: none;
}

#publica-post-tools:hover .toggle-tools,
#publica-post-tools.active .toggle-tools {
	background: #e15a2d;
}

#publica-post-tools .tool-list {
}

#publica-post-tools .tool-list {
	display: block;
	background: #fff;
	float: right;
	margin-top: -5px;
	padding-top: 5px;
}

#publica-post-tools .tool-list .tool-item {
	position: relative;
	display: block;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}

#publica-post-tools .tool-list .tool-item.not-interactive {
	cursor: default;
}

#publica-post-tools .tool-list .tool-item .tool-content-container {
	position: absolute;
	left: 100%;
	top: 0;
	padding-left: 10px;
	display: none;
	width: 100px;
}

#publica-post-tools .tool-list .tool-item:hover .tool-content-container {
	display: block;
}

#publica-post-tools .tool-list .tool-item .tool-content-container .tool-content {
	padding: 10px;
	background: #f5f5f5;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	position: relative;
	height: 20px;
}

#publica-post-tools .tool-list .tool-item .tool-content-container .tool-content:before {
	content: '';
	display: block;
	position: absolute;
	left: -4px;
	top: 50%;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	background: #f5f5f5;
	border: 1px solid #cfcfcf;
	-webkit-transform: rotate(45deg);
}

#publica-post-tools .tool-list .tool-item .tool-content-container .tool-content:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 5px;
	bottom: 5px;
	margin-top: -3px;
	width: 10px;
	background: #f5f5f5;
}

#publica-post-tools .tool-list .tool-item .tool-content ul {
	margin: 0;
	padding: 0;
	display: inline;
}

#publica-post-tools .tool-list .tool-item .tool-content ul li {
	display: inline;
	padding-right: 10px;
}

#publica-post-tools .tool-list .tool-item .tool-content ul li:last-child {
	padding-right: 0;
}

.entypo {
	font-size: 50px;
	line-height: 25px;
}

#publica-post-tools .tool-list .tool-item .font-size span {
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	font-family: serif;
	font-weight: 800;
}

#publica-post-tools .tool-list .tool-item .font-size .small {
	font-size: 60% !important;
}

#publica-post-tools .tool-list .tool-item .increase .font-size span {
	font-size: 26px;
	line-height: 20px;
}

#publica-post-tools .tool-list .tool-item .decrease .font-size span {
	font-size: 14px;
	line-height: 20px;
}

#publica-post-tools .tool-list .tool-item .total-shares {
	padding-left: 10px;
}

#publica-post-tools .tool-list .tool-item .total-shares .heart {
	color: #e15a2d;
	font-size: 26px;
	line-height: 26px;
	float: left;
}

#publica-post-tools .tool-list .tool-item .total-shares .share-count {
	font-size: 18px;
	font-weight: 800;
}